<launch>
  <!-- Arguments -->
  <arg name="model" default="burger" doc="model type [burger, waffle, waffle_pi]" />
  <arg name="configuration_basename" default="turtlebot3_lds_2d.lua" />
  <arg name="set_base_frame" default="base_footprint" />
  <arg name="move_forward_only" default="true" />
  <arg name="set_odom_frame" default="odom" />
  <arg name="set_map_frame" default="map" />
  <arg name="open_rviz" default="true" />
  <arg name="x_pos" default="0.0" />
  <arg name="y_pos" default="0.0" />
  <arg name="z_pos" default="0.0" />
  <arg name="map_file" default="$(find hamboeck)/maps/mymap_edited.yaml" />

  <include file="$(find hamboeck)/launch/empty_world.launch">
    <arg name="world_name" value="$(find hamboeck)/worlds/playground.world" />
    <arg name="paused" value="false" />
    <arg name="use_sim_time" value="true" />
    <arg name="gui" value="false" />
    <arg name="headless" value="false" />
    <arg name="debug" value="false" />
  </include>

  <param name="robot_description"
    command="$(find xacro)/xacro --inorder $(find hamboeck)/urdf/turtlebot3_$(arg model).urdf.xacro" />

  <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher">
    <param name="publish_frequency" type="double" value="50.0" />
  </node>

  <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model"
    args="-urdf -model turtlebot3 -x $(arg x_pos) -y $(arg y_pos) -z $(arg z_pos) -param robot_description" />

  <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)" />

  <!-- My crappy MCL node -->
  <rosparam file="$(find hamboeck)/param/params.yaml" command="load"/>

  <node pkg="hamboeck" type="hamboeck_node" name="mcl_node" output="screen">
  </node>

  <!-- amcl -->
  <include file="$(find turtlebot3_navigation)/launch/amcl.launch">
  </include>

  <!-- move_base -->
  <include file="$(find turtlebot3_navigation)/launch/move_base.launch">
    <arg name="model" value="$(arg model)" />
    <arg name="move_forward_only" value="$(arg move_forward_only)" />
  </include>

  <!-- Gmapping -->
  <!-- <node pkg="gmapping" type="slam_gmapping" name="turtlebot3_slam_gmapping" output="screen">
    <param name="base_frame" value="$(arg set_base_frame)" />
    <param name="odom_frame" value="$(arg set_odom_frame)" />
    <param name="map_frame" value="$(arg set_map_frame)" />
    <rosparam command="load" file="$(find turtlebot3_slam)/config/gmapping_params.yaml" />
  </node> -->

  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find hamboeck)/rviz/config.rviz" />

</launch>
  